.post-topic {
    font-size: x-large;
    background-color: antiquewhite;
    padding-left: 2.5rem;

}

.topic-options {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin-top: 5rem;
}

.topic-drop-down {
    text-align: left;
    margin-left: 5rem;
    width: 30rem;
}

.topic-search {
    float: right;
    text-align: left;
    margin-right: 5rem;
    width: 30rem;
}