.post-topic {
    font-size: x-large;
}

.topic-options {
    display: flex;
    justify-content: space-evenly;
}

.topic-drop-down {
    text-align: center;
    margin-left: 5rem;
    width: 30rem;
}

.topic-search {
    float: right;
    text-align: left;
    margin-right: 5rem;
    width: 30rem;
}