.navbar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #e1b47a;
    margin: 0;
    height: 2rem;   
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 13.75%;
    list-style-type: disc;
    height: auto;
    text-align: center;
    margin-left: 3rem;
    background-color:#deb8878c;
    color: black;
    border: 0.2rem, solid, black;
  }

  .navbar-link {
    text-decoration: none;
    font-family: serif;
    letter-spacing: 0.15rem;
    font-size: x-large;
    background: transparent;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }